html, body {
  height: 100%;
  margin: 0;
 }

/*
We can create a frameless window with the BrowserWindow option:
titleBarStyle: 'hidden'
By default, the frameless window is non-draggable.
https://www.electronjs.org/docs/api/frameless-window
*/
#titlebar {
  width: 100%;
  height: 29px;
  -webkit-app-region: drag;
}

#textarea {
  resize: none;
  outline: none;
  width: 92.69%;
  height: 84.41%;
  margin-top: 20px;
  padding: 0px 25px 0px 35px;
  font-family: Courier, monospace;
  font-size: 19px;
  overflow: scroll;
}

.tab {
  white-space: pre;
  tab-size: 2;
}
